* {
    text-align: center;
    background-color: rgb(252, 73, 3)
}

h1 {
    font-family: 'Orbitron', sans-serif;
}
h2 {
    font-family: 'Monoton', cursive;
}
#current-date, #current-time {
    font-size: 300%;
    font-family: 'Marck Script', cursive;
}

img {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 8px black solid;
}

#img-div {
    margin: auto;
    
}

#img-text {
    color: white;
    background-color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#button {
    margin-top: 5%;
    color: firebrick;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: aqua;
    cursor: pointer;
}